
<div id="page-content" class="card text-center">
  <div class="container"  >

      <% @articles.each do |article| %>
      <div class="row justify-content-md-center " >
        <div class="col-8 mt-4" id="hmida">
          <div class="card-header font-italic">
            <% if article.user %>
              by <%= link_to article.user.username, user_path(article.user) %>
            <% end %>
          </div>
      <div class="card-body shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title"><%= link_to article.title,article_path(article),class: "text-success" %></h5>
        <p class="card-text"><%= truncate(article.description,length: 100) %></p>
        <a href="#" ><%= link_to 'Show', article_path(article),class: "btn btn-outline-success" %></a>
        <% if logged_in? && article.user == current_user %>
        <a href="#" ><%= link_to 'edit', edit_article_path(article),class: "btn btn-outline-info" %></a>
        <a href="#" ><%= button_to 'Delete', article_path(article), method: :delete, onclick: "return confirm('Are you sure you want to delete this article?');",class: "btn btn-outline-danger"  %>
 </a>
 <% end %>
      </div>
  <div class="card-footer text-muted">
    created <%= time_ago_in_words(article.created_at)%> ago ,updated <%= time_ago_in_words(article.updated_at) %> ago
  </div>
</div>
</div>
  <% end %>
</div>
</div>
