<div id="page-content">

  <h1  class="text-center mt-4">
  alpha blogger
  </h1>
  <div class="apple_pagination">

      <%= will_paginate @users, :container => false %>
    </div>

  <div id="page-content" class="card text-center">
    <div class="container"  >

        <% @users.each do |user| %>
        <div class="row justify-content-md-center " >
          <div class="col-8 mt-4" id="hmida">
            <div class="card-header font-italic">
              by <%= link_to user.username ,user%>
            </div>
        <div class="card-body shadow p-3 mb-5 bg-white rounded">
          <h5 class="card-title">
            <%= link_to gravatar_for(user, size: 150),user %>
          </h5>
          <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
              <% if logged_in? && user == current_user %>
          <a href="#" ><%= link_to 'view profile',user,class: "btn btn-outline-success" %></a>
          <a href="#" ><%= link_to 'edit profile', edit_user_path(user),class: "btn btn-outline-info" %></a>
<% end %>
        </div>
    <div class="card-footer text-muted">
      joined <%= time_ago_in_words(user.created_at)%> ago
    </div>
  </div>
  </div>
    <% end %>
  </div>
  </div>

</div>
<div class="apple_pagination">

    <%= will_paginate @users, :container => false %>
  </div>
