<div id="page-content">

  <h1  class="text-center mt-4">
    <%= @user.username %> profile
  </h1>
      <%= gravatar_for @user , size: 200 %>
      <h1  class="text-center mt-4">
            <% if logged_in? && @user == current_user %>
        <%= link_to "edit your profile", edit_user_path(@user), class:"btn btn-outline-info" %>
      </h1>
      <% end %>
      <div class="apple_pagination">

          <%= will_paginate @articles, :container => false %>
        </div>
<%= render 'articles/article' %>
<div class="apple_pagination">

    <%= will_paginate @articles, :container => false %>
  </div>
</div>
