<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <%= link_to "AlphaBlog" , root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">

          <%= link_to "blogger", users_path ,class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
            <% if logged_in? %>
            <%= link_to "Create new article", new_article_path, class:"dropdown-item" %>
            <% end %>
              <%= link_to "view  articles", articles_path, class:"dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <% if logged_in? %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= "admin" if current_user.admin? %> Profile [<%= current_user.username %>]
                    </a>
                    <ul class="dropdown-menu">
                      <%= link_to "View profile", user_path(current_user), class:"dropdown-item" %>
                      <%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item" %>
                        <%= button_to 'Delete', user_path(current_user), method: :delete, onclick: "return confirm('Are you sure you want to delete your profile?');",class:"dropdown-item text-danger"  %>

                    </ul>
                  </li>
        <li class="nav-item">
        <%= link_to 'logout', logout_path, class: "nav-link" , method: :delete %>
        </li>
        <% else %>
        <li class="nav-item">
        <%= link_to 'login', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to 'signup', signup_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
